@import '~bootstrap/scss/bootstrap';

.authenticated {
  display: none;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid;
  height: 100px;
  padding: 40px;
}
